.container {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.card {
    margin-top: 2%;
}

.align {
    justify-content: center;
}

.centering {
    display: flex;
    justify-content: center;
}